/*------------------------------------*\
#FONTS
\*------------------------------------*/

/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
    --color-mountain-1: #77D4CB;
    --color-mountain-2: #43a5a7;

    --color-hill-1:#B6F1EC;
    --color-hill-2:#7AD6CF;

    --color-gradient-1:#8FCBE4;
    --color-gradient-2:#B1D8E0;
    --color-gradient-3:#FCF5D8;

    --color-text-main:#135070;
    --color-border-main:#135070;
    --color-border-shadow:rgba(143,203,228,0.3);
    

    --global-color-icon:#FFD596;

    --display-moon:none;
    --display-sun:block;
    --display-sun--invert:none;
    --display-moon--invert:block;
    --display-cloud:block;
    --display-stars:none;

    /* transition */
    --global-transitionProperty-ease:ease-out;
    --global-transitionTime-alpha:0.2s;
    --global-transitionTime-beta:0.3s;

    /* box shadow */ 
    --global-box-shadow-alpha: 0 3px 6px 0 var(--color-border-shadow);


    --global-baseline: calc(1rem / 4.5);

    --global-whitespace-xxs:var(--global-baseline);
    --global-whitespace-xs:calc(var(--global-baseline) * 2);
    --global-whitespace-sm:calc(var(--global-baseline) * 3);
    --global-whitespace-md:calc(var(--global-baseline) * 4);
    --global-whitespace-lg:calc(var(--global-baseline) * 5);
    --global-whitespace-xl:calc(var(--global-baseline) * 6);
    --global-whitespace-xxl:calc(var(--global-baseline) * 12);

    --global-content-width:19rem;
    --global-height-header:20rem;


    --global-is-fullscreen:false;
    --global-circle-left:0%;
    
}

.is-night {
    --color-mountain-1: #5593C4;
    --color-mountain-2: #295477;

    --color-hill-1:#6EB6EF;
    --color-hill-2:#2C699A;

    --color-gradient-1:#0A2E4A;
    --color-gradient-2:#265D86;
    --color-gradient-3:#50A2DF;

    --color-text-main:#fff;
    --color-border-main:#fff;
    --color-border-shadow:rgba(10,46,74,0.3);

    --global-color-icon:#EFDDC1;
    --global-box-shadow-alpha: 0 3px 6px 0 var(--color-border-shadow);


    --display-sun--invert:block;
    --display-moon--invert:none;
    --display-sun:none;
    --display-moon:block;
    --display-cloud:none;
    --display-stars:block;



    
}


/*------------------------------------*\
#MEDIA QUERIES FOR DESKTOP
\*------------------------------------*/


@media(min-width: 42rem) {
    :root {
        --global-content-width:20rem;
        --global-height-header:26rem;
        
    }
}


/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
    /* POSITIONING */

    /* BOX MODEL */
    box-sizing: border-box;

    /* FONT */
    color: var(--color-text-main);
    font-feature-settings: "zero" 1; 
    font-size: 112.5%;
    line-height: 1.5;
    font-family: "objektiv-mk1", Helvetica, arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* APPEARANCE */
    background-color: var(--global-background);
    
    
    /* OTHER */
    
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Customize the background color to match your design.
*/

::-moz-selection {
    background: orange;
    color: white;
    text-shadow: none;
}

::selection {
    background: orange;
    color: white;
    text-shadow: none;
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

/*
Elements: Images
---
Default markup for images to make them responsive
*/

img {
    max-width: 100%;
    vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
    font-weight: 500;
}

h1 {
    font-size: 2rem;
    line-height: calc(var(--global-whitespace-xl) * 2);
    margin: 0 0 var(--global-whitespace-xl);
}

h2 {
    font-size: 1.8rem;
    line-height: calc(var(--global-whitespace-md) * 2);
    margin: 0 0 var(--global-whitespace-xl);
}

h3 {
    font-size: 1.2rem;
    line-height: calc(var(--global-whitespace-md) * 2);
}

h4,
h5,
h6 {
    font-size: 1rem;
    font-weight: 600;
    line-height: var(--global-whitespace-xl);
    margin: 0 0 var(--global-whitespace-xl);
}

p,
ol,
ul,
dl,
table,
address,
figure {
    margin: 0 0 var(--global-whitespace-xl);
}

ul,
ol {
    padding-left: var(--global-whitespace-xl);
}

li ul,
li ol {
    margin-bottom: 0;
}

blockquote {
    font-style: normal;
    font-size: 1.3rem;
    line-height: calc(var(--global-whitespace-md) * 2);
    margin: 0 0 var(--global-whitespace-xl);
}

blockquote * {
    font-size: inherit;
    line-height: inherit;
}

figcaption {
    font-weight: 400;
    font-size: 0.6666rem;
    line-height: var(--global-whitespace-md);
    margin-top: var(--global-whitespace-xs);
}

hr {
    border: 0;
    height: 1px;
    background: LightGrey;
    margin: 0 0 var(--global-whitespace-xl)
}

a {
    color: red;
    outline-color: red;
    outline-width: medium;
    outline-offset: 2px;
}

a:visited,
a:active {
    color: red;
}

a:hover,
a:focus {
    color: red;
}

label,
input {
    display: block;
}

select {
    width: 100%;
}

input::placeholder {
    color: var(--color-text-main);
}

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/


/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

/*
    Component: app
    ---
    Sets the grid for the whole application
*/

.c-app {
    display: grid;
    height: 100vh;
    grid-template-columns: var(--global-whitespace-md) auto var(--global-whitespace-md);
    grid-template-rows: var(--global-height-header) auto;

}

/*
    Component: Header
    ---
    Styles the header part of the page
*/

.c-header {
    grid-column: 1 / span 3;
    background: linear-gradient(180deg, var(--color-gradient-1) 0%, var(--color-gradient-2) 30%, var(--color-gradient-3) 100%);
    display: grid;
    grid-template-columns: var(--global-whitespace-md) auto var(--global-whitespace-md);
    grid-template-rows: var(--global-whitespace-md) auto;
    justify-content: center;
    /* -webkit-box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.16); */
    overflow: hidden;
    position: relative;
}
.c-header__content {
    grid-column: 2;
    grid-row: 2;
    position: relative;
    min-height: calc( var(--global-height-header) - var(--global-whitespace-md));
    
    width: var(--global-content-width);
}
.c-header__topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index:5;
}

@media (min-width:42rem) {

}


/*
    Component: Main
    ---
    Styles the second part of the page
*/

.c-main {
    grid-column: 1 / span 3;
    grid-row:2;
    display: grid;
    grid-template-columns: var(--global-whitespace-md) auto var(--global-whitespace-md);
    grid-template-rows: var(--global-whitespace-md) auto;
    height: auto;
    background: linear-gradient(180deg, var(--color-hill-1) 0%, var(--color-hill-2) 100%);

}
.c-main__content {
    grid-column: 2;
    grid-row: 2;
    width: var(--global-content-width);
    margin:0 auto;
    color:var(--color-text-main);
    text-align: center;
    display: none;
}

/*
    Component: Logo
    ---
    Positions the logo on the page
*/

.c-logo {
    height: 1.8rem;
    margin-bottom: 0;
}

.c-logo__moon {
    display:var(--display-moon--invert);
}

.c-logo__sun {
    display:var(--display-sun--invert);
}

/*
    Component: Switch
    ---
    Styles the radio buttons to switch day - night
*/

.c-switch {
    display: flex;
    overflow: hidden;
    margin-top: var(--global-whitespace-xxs);
}

.c-switch input {
	position: absolute;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
    overflow: hidden;
    
}

.c-switch label {
    cursor: pointer;
	background-color: #e4e4e4;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	line-height: 1;
    text-align: center;

    padding:var(--global-whitespace-xxs) calc(var(--global-whitespace-md) * 2);
    padding-top:calc(var(--global-whitespace-xxs) * 1.5);
    margin-right: -1px;
    
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.2s ease-in-out;
}

.c-switch input:checked + label {
    background-color: var(--color-mountain-2);
    color: var(--color-text-main);
	box-shadow: none;
}

.c-switch label:first-of-type {
	border-radius: 10px 0 0 10px;
}

.c-switch label:last-of-type {
	border-radius: 0 10px 10px 0;
}



/*
    Component: Mountains
    ---
    Positions the Mountains in the header
*/

.c-mountains {
    width:100%;
    position: absolute;
    bottom: 0;
}

.c-mountain {
    position: absolute;
    bottom: 0;
}

.c-mountain__1 {
    left:-5%;
    fill: var(--color-mountain-1);
}

.c-mountain__2 {
    left:35%;
    fill: var(--color-mountain-2);
} 

.c-mountain__3 {
    right:-5%;
    fill: var(--color-mountain-1);
} 

@media(min-width: 42rem) {
    /* to do */
    .c-mountain__1 {
        left:-5%;
    }
    
    .c-mountain__2 {
        left:35%;
    } 
    
    .c-mountain__3 {
        right:-5%;
    } 
}

/*
    Component: hill
    ---
    Styles the hill in front of the mountains
*/

.c-hill {
    position: absolute;
    bottom: -52%;
    left: -15%;
    width:130%;
    
}
.c-hill__rect {    

    height:12rem;
    border-radius:50%;
    -webkit-box-shadow: 0px -2px 10px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px -2px 10px 0px rgba(0,0,0,0.16);
    box-shadow: 0px -2px 10px 0px rgba(0,0,0,0.16);
    background-color:var(--color-hill-1);
}
@media(min-width: 42rem) {
    .c-hill__rect {
        height: 15rem;
    }
}

/*
    Component: Icon & moon
    ---
    Icon is the sun or moon on the main page
*/

.c-icon {
    position: absolute;
    transition: opacity var(--global-transitionTime-beta) var(--global-transitionProperty-ease);

}
.c-icon__svg {
    fill:var(--global-color-icon);

}
.c-icon__moon {

    display: var(--display-moon);
}
.c-icon__sun {

    display: var(--display-sun);
}

.c-moon__circle {
    width: 38px;
    height: 38px;
    border-radius: 100%;
    overflow: hidden;
    position: absolute;
    /* box-shadow: inset 2px 0px 25px 10px rgba(0,0,0,0.05); */
    
}
.c-moon__circle::after {
    content:'';
    position:absolute;
    top:-1px;
    left:var(--global-circle-left); 
    border-radius:100%;
    width:40px; 
    height:40px;
    box-shadow: 0px 0px 0px 200px var(--global-color-icon);
}

/*
    Component: Cloud
    ---
    Styles the cloud on the header
*/

.c-cloud {
    position: absolute;
    width:100%;
    height:100%;
    display:var(--display-cloud);
    overflow: hidden;
    pointer-events: none;
    
    
}
.c-cloud--item {
    position: absolute;
    animation-name:MoveLeftToRight;
    animation-timing-function: linear;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    
}


@media (min-width:42rem) {
    .c-cloud--item {
        animation-duration: 90s;
    }
}   


/*
    Component: Stars
    ---
    Styles the stars on the header
*/

@keyframes fadeInFromNone {
    0% {
        opacity: 0.2;
    }
    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.2;
    }

}

@keyframes MoveLeftToRight {

    100% {
        left:100vw;
    }

}

.c-stars {
    position: absolute;
    width:100%;
    height:100%;
    display:var(--display-stars);
}
.c-stars--item {
    position: absolute;
    animation-name:fadeInFromNone;
    animation-iteration-count: infinite;
}
.c-stars--item:nth-child(even) {
    opacity: 0.5;
}


/*
    Component: Position
    ---
    Styles the first part of main that shows the sunset/sunrise times
*/

.c-position {
    display: flex;
    justify-content: space-between;
}
.c-position__text {
    text-align: center;
    margin-bottom: 0;
    color:var(--color-text-main);
}
.c-position__fill {
    fill:var(--global-color-icon);
}
.c-position__switch {
    display: none;
}



/*
    Component: Text
    ---
    Styles the text on de second part of main 
*/

.c-text {
    margin-top: var(--global-whitespace-xl);
}
.c-text__intro {
    font-size: 1rem;
    line-height: 1.8;
    margin:var(--global-whitespace-xl) 0 var(--global-whitespace-xs) 0;
}

.c-text__intro:first-of-type {

    margin-bottom: var(--global-whitespace-xxl);
}

.c-text__content{
    border: none;
    border-top:1px solid var(--color-border-main);
    text-align: center;
    padding:var(--global-whitespace-md);
}
.c-text__content:first-child{
    border:none;
}

.c-text__heading{
    margin:var(--global-whitespace-sm) 0;
    
}

/*
    Component: input
    ---
    Styles the inputs on the first page

*/

.c-input {
    all:unset;
    box-sizing: border-box;
    width:100%;
    border-radius: 8px;
    padding:var(--global-whitespace-xs) var(--global-whitespace-md);
    padding-top: var(--global-whitespace-md);
    margin: var(--global-whitespace-xs);
    color:var(--color-text-main);
    background-color: var(--color-mountain-1);
    border: 1px solid var(--color-mountain-2);
    transition: all var(--global-transitionTime-alpha) var(--global-transitionProperty-ease);
    text-align: left;
    cursor: pointer;
}
.c-input:active,
.c-input:focus {
    box-shadow:var(--global-box-shadow-alpha);
}
.c-input__button {
    text-align: center;
    background-color: var(--color-mountain-2);
    opacity: 1;
    transform: none;
}
.c-input__button:active
 {
    transform: translate(0px, 2px);
    opacity: 0.9;
}



/*------------------------------------*\
#UTILITIES
\*------------------------------------*/

.u-quote {
    font-style: italic;
    font-weight: 300;
}


.u-mt-sm {
    margin-top: var(--global-whitespace-xxs);
    
}

/*------------------------------------*\
#STATES
\*------------------------------------*/



/*------------------------------------*\
#MEDIA
\*------------------------------------*/

/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
    * Printing Tables:
    * http://css-discuss.incutio.com/wiki/Printing_Tables
    */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
