/*------------------------------------*\
#FONTS
\*------------------------------------*/

/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
    --color-mountain-1: #77D4CB;
    --color-mountain-2: #74C4C5;

    --color-gradient-1:#8FCBE4;
    --color-gradient-2:#B1D8E0;
    --color-gradient-3:#FCF5D8;

    --global-color-sun:#FFD596;

    --color-slider:#74D2CA;
    --color-slider-circle:#74C4C5;

    --display-moon:block;
    --display-sun:none;
}

/* 
.is-morning {
    --color-mountain-1: #77D4CB;
    --color-mountain-2: #74C4C5;

    --color-gradient-1:#8FCBE4;
    --color-gradient-2:#B1D8E0;
    --color-gradient-3:#FCF5D8;

    --color-sun:#FFD596;

    --color-slider:#74D2CA;
    --color-slider-circle:#74C4C5;
} */

.is-night {
    --display-sun:block;
    --display-moon:none;
}


/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
    /* POSITIONING */

    /* BOX MODEL */
    box-sizing: border-box;

    /* FONT */
    color: black;
    font-feature-settings: "zero" 1; 
    font-size: 16px;
    line-height: 1.5;
    font-family: "objektiv-mk1", Helvetica, arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* APPEARANCE */
    background-color: var(--global-background);
    
    /* OTHER */
    
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Customize the background color to match your design.
*/

::-moz-selection {
    background: orange;
    color: white;
    text-shadow: none;
}

::selection {
    background: orange;
    color: white;
    text-shadow: none;
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

/*
Elements: Images
---
Default markup for images to make them responsive
*/

img {
    max-width: 100%;
    vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
    font-weight: 500;
}

h1 {
    font-size: 36px;
    line-height: 48px;
    margin: 0 0 24px;
}

h2 {
    font-size: 32px;
    line-height: 40px;
    margin: 0 0 24px;
}

h3 {
    font-size: 24px;
    line-height: 32px;
    margin: 0 0 24px;
}

h4,
h5,
h6 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin: 0 0 24px;
}

p,
ol,
ul,
dl,
table,
address,
figure {
    margin: 0 0 24px;
}

ul,
ol {
    padding-left: 24px;
}

li ul,
li ol {
    margin-bottom: 0;
}

blockquote {
    font-style: normal;
    font-size: 23px;
    line-height: 32px;
    margin: 0 0 24px;
}

blockquote * {
    font-size: inherit;
    line-height: inherit;
}

figcaption {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-top: 8px;
}

hr {
    border: 0;
    height: 1px;
    background: LightGrey;
    margin: 0 0 24px;
}

a {
    color: red;
    outline-color: red;
    outline-width: medium;
    outline-offset: 2px;
}

a:visited,
a:active {
    color: red;
}

a:hover,
a:focus {
    color: red;
}

label,
input {
    display: block;
}

select {
    width: 100%;
}

input::placeholder {
    color: gray;
}

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/


/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

/*
    Component: Background
    ---
    Styles the elements in the background  -> mountains and bgcolor:
*/
.c-background {
    overflow: hidden;
    -webkit-box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.16);
    position: relative;
    background: linear-gradient(180deg, var(--color-gradient-1) 0%, var(--color-gradient-2) 30%, var(--color-gradient-3) 100%);
    padding:16px 16px 0 16px;
}

.c-wrapper {
    max-width:1024px;
    margin:0 auto;
}

/* Mountains */

.c-mountains {
    position: relative;

}

.c-mountain {
    position: absolute;
    bottom: 0px;
    transition: all 1s ease;
    
}
.c-mountain__1 {
    left:-5%;
    fill: var();
}

.c-mountain__2 {
    left:40%;
} 

.c-mountain__3 {
    right:-5%;
} 

@media (min-width: 420px) {
    .c-mountain__1 {
        left:0%;
    } 
    .c-mountain__3 {
        right:0%;
    } 
    .c-background {
        padding: 24px 24px 0 24px;
    }
}

@media (min-width: 768px) {
    .c-mountain {
        transform: scale(2.5);
    }
    .c-mountain__1 {
        left:15%;
    } 
    .c-mountain__3 {
        right:10%;
    } 
    .c-background {
        padding: 32px 32px 0 32px;
            
    }
   
}

@media (min-width: 1024px) {

    .c-mountain__1 {
        left:17%;
    } 
    .c-mountain__2 {
        left:45%;
    }
    .c-mountain__3 {
        right:15%;
    } 
    .c-background {
        padding: 48px 48px 0 48px;
            
    }
}

@media (min-width: 1024px) {

    .c-mountain__1 {
        left:17%;
    } 
    .c-mountain__2 {
        left:45%;
    }
    .c-mountain__3 {
        right:15%;
    } 
    .c-background {
        padding: 48px 48px 0 48px;
            
    }
}



/*
    Component: Logo
    ---
    Styles the logo sun/moon
*/

    .c-logo__moon {
        display:var(--display-moon);
    }

    .c-logo__sun {
        display:var(--display-sun);
    }


/*
    Component: Sun
    ---
    Styles the sun / moon
*/

.c-sun {
    position: absolute;
    bottom:-5%;
    left:-5%;
}
.c-sun__svg {
    fill:var(--global-color-sun);
}

/*
    Component: Horizon
    ---
    Styles the first block on the page horizon:
*/

.c-horizon {
    min-height: 350px;
    transition: background 0.4s ease;
}

.c-logo {
    height:30px;
}


@media (min-width: 768px) {
    .c-horizon {
        min-height: 450px;
    }
    .c-logo {
        height:48px;
    }
}



/*
    Component: Content
    ---
    Second block of the page
*/

.c-content {
    padding: 16px;
}
.c-content__text--wrapper {
    display: block;
}
.c-content__text {
    border-top:1px solid #707070;
    padding:48px 0 24px 0;
    text-align: center;
    font-size: 18px;
}
.c-content__text:first-child {
    border:none;
}

@media (min-width: 1024px) {
    
    .c-content {
        padding: 16px;
    }
    .c-content__text--wrapper {
        display: flex;
    }
}
 
/*
    Component: sunpos
    ---
    Styles the sun position block in content
*/

.c-sunpos {
    display: flex;
    justify-content: space-between;
}

.c-sunpos__text {
    color: #222222;;
}


/*------------------------------------*\
#UTILITIES
\*------------------------------------*/

.u-quote {
    font-style: italic;
    font-weight: 300;
}

/*------------------------------------*\
#STATES
\*------------------------------------*/



/*------------------------------------*\
#MEDIA
\*------------------------------------*/

/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
    * Printing Tables:
    * http://css-discuss.incutio.com/wiki/Printing_Tables
    */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
